{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h3>TP3</h3>
  <form action="{% url 'tp3:generate_series' %}" method="post" class="row g-5">
    {% csrf_token %}
    <div class="col-8">
      <div class="row card card-body shadow h-100">
        <div class="col-12">
          <h4>Distribucion:</h4>
        </div>
        <div class="col mb-3" style="max-height: 90px;">
          <div class="form-check d-block">
            <input class="form-check-input" onclick="onDistributionClick(this)" type="radio" name="distribution"
              id="uniform" value="uniform">
            <label class="form-check-label" for="uniform">
              Uniforme
            </label>
          </div>
          <div class="form-check d-block">
            <input class="form-check-input" onclick="onDistributionClick(this)" type="radio" name="distribution"
              id="normal" value="normal">
            <label class="form-check-label" for="normal">
              Normal
            </label>
          </div>
          <div class="form-check d-block">
            <input class="form-check-input" onclick="onDistributionClick(this)" type="radio" name="distribution"
              id="exponential" value="exponential">
            <label class="form-check-label" for="exponential">
              Exponencial negativa
            </label>
          </div>
          <div class="form-check d-block">
            <input class="form-check-input" onclick="onDistributionClick(this)" type="radio" name="distribution"
              id="poisson" value="poisson">
            <label class="form-check-label" for="poisson">
              Poisson
            </label>
          </div>
        </div>
        <div class="d-none" id="uniformContainer">
          <div class="col-6 col-sm-6 col-md-4 mb-3 form-floating">
            <input type="number" class="form-control form-control-sm" name="uniform_args" id="lower_limit" placeholder="A" step="0.001">
            <label for="lower_limit" class="form-label">A</label>
          </div>

          <div class="col-6 col-sm-6 col-md-4 mb-3 form-floating">
            <input type="number" class="form-control form-control-sm" name="uniform_args" id="upper_limit" placeholder="B" step="0.001" min=0>
            <label for="upper_limit" class="form-label">B</label>
          </div>
        </div>
        <div class="d-none" id="expContainer">
          <div class="col-12 mb-3 form-floating">
            <input type="number" step="0.0001" class="form-control form-control-sm" name="exponential_args" id="exponential_mean" placeholder="Media" min=0>
            <label for="exponential_mean" class="form-label">Media</label>
          </div>
        </div>
        <div class="d-none" id="normalContainer">
          <div class="col-12 mb-3 form-floating">
            <input type="number" step="0.0001" class="form-control form-control-sm" name="normal_args" id="normal_mean" placeholder="Media">
            <label for="normal_mean" class="form-label">Media</label>
          </div>
          <div class="col-12 mb-3 form-floating">
            <input type="number" step="0.0001" class="form-control form-control-sm" name="normal_args" id="normal_variance" placeholder="Varianza" min=0>
            <label for="normal_variance" class="form-label">Varianza</label>
          </div>
        </div>
        <div class="d-none" id="poissonContainer">
          <div class="col-12 mb-3 form-floating">
            <input type="number" step="0.0001" class="form-control form-control-sm" name="poisson_args" id="poisson_mean" placeholder="Media">
            <label for="poisson_mean" class="form-label">Media</label>
          </div>
        </div>
        <div class="col-12 mt-auto text-end">
          <button type="submit" class="btn btn-outline-primary">Generar</button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row card card-body shadow h-100">
        <div class="col-12">
          <h4>Parametros generales</h4>
        </div>
        <div class="col-12 mb-3 form-floating">
          <input type="number" class="form-control form-control-sm" name="sample_size" id="sample_size"
            placeholder="Tamaño de la muestra" value="1000" min=0>
          <label for="sample_size" class="form-label">Tamaño de la muestra</label>
        </div>
        <div class="col-12 mb-3 form-floating">
          <input type="number" class="form-control form-control-sm" name="decimal_places" id="decimal_places"
            placeholder="Decimales" value=4 min=0 max=15>
          <label for="upper_limit" class="form-label">Decimales</label>
        </div>
        <div class="col-12 mb-3 form-floating">
          <select class="form-select" name="intervals_amount" id="intervals_amount" aria-label="Cantidad de intervalos">
            <option value=5 selected>5</option>
            <option value=10>10</option>
            <option value=15>15</option>
            <option value=20>20</option>
          </select>
          <label for="intervals_amount">Cantidad de intervalos</label>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script lang="js">
  const uniformA = document.getElementById("lower_limit");
  const uniformB = document.getElementById("upper_limit");

  const onUniformAChange = (event) => {
    uniformB.setAttribute('min', +uniformA.value + 1)
  }
  uniformA.addEventListener('change', onUniformAChange)

  const onDistributionClick = (event) => {
    document.querySelector("#uniformContainer").setAttribute("class", "d-none")
    document.querySelector("#expContainer").setAttribute("class", "d-none")
    document.querySelector("#normalContainer").setAttribute("class", "d-none")
    document.querySelector("#poissonContainer").setAttribute("class", "d-none")
    
    if (event.value === "uniform") {
      document.querySelector("#uniformContainer").setAttribute("class", "")
      return;
    }
    if (event.value === "exponential") {
      document.querySelector("#expContainer").setAttribute("class", "")
      return;
    }
    if (event.value === "normal") {
      document.querySelector("#normalContainer").setAttribute("class", "")
      return;
    }
    if (event.value === "poisson") {
      document.querySelector("#poissonContainer").setAttribute("class", "")
      return;
    }

  }
</script>
{% endblock %}