<!doctype html>
<html lang="en" class="h-100">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  {% block extra_head %}
  {% endblock %}
  {% block style %}
  {% endblock %}

  <title>Grupo N</title>
</head>

<body class="d-flex flex-column h-100">
  <main class="flex-shrink-0 mt-3">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="footer mt-auto py-3 bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <h6>Integrantes:</h6>
          <span class="d-block"><small>Gibbon, Sydney- 77025</small></span>
          <span class="d-block"><small>Girón Pignol, Joaquin Esteban - 60862</small></span>
          <span class="d-block"><small>Ledesma, Lisandro - 73153</small></span>
          <span class="d-block"><small>Romio, Veronica - 79596</small></span>
          <span class="d-block"><small>Toledo Rodrigo - 75441</small></span>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>
